contact-infos
  category.user
    separator.icon
      i.fa.fa-user
    separator.title
      each val in ['Nom', 'Prénom', 'né(e) le']
        span #{val}
    separator.value
      each val in ['{{surname}}', '{{firstname}}', '{{birthdate}} 05/11/1996']
        span.info #{val}
  category.home
    separator.icon
      i.fa.fa-home
    separator.title
      each val in ['Adresse', 'Departement']
        span #{val}
    separator.value
      each val in ['{{adress}} 5 rue Barrenes 33000, Bordeaux', '{{department}} Gironde']
        span.info #{val}
  category.phone
    separator.icon
      i.fa.fa-phone
    separator.title
      span Téléphone
    separator
      span.info {{phone}}
    separator.bubble
      i.fa.fa-weixin
  category.cellphone
    separator.icon
      i.fa.fa-mobile
    separator.title
      span Mobile
    separator
      each val in ['{{cellphone}} +33 (0)6 70 86 45 72', '{{cellphone}} +33 (0)6 57 35 92 43']
        span.info #{val}
    separator.bubble
      each val in ['{{cellphone}} xxx', '{{cellphone}} xxx']
        i.fa.fa-weixin
  category.mail
    separator.icon
      i.fa.fa-envelope
    separator.title
      span Mail
    separator
      span.info {{mail}} {{surname}}.{{firstname}}@gmail.com
    separator.plane
      i.fa.fa-paper-plane
  category.network
    separator.icon 
      i.fa.fa-facebook-square
    separator.network
      span Réseaux sociaux
    separator.facebook
      i.fa.fa-facebook
    separator.twitter
      i.fa.fa-twitter
