mixin field-modif(title, value)
  info-field #[strong #{title} :]
    input(v-model="contact.#{value}" type="text" placeholder="#{title}")
mixin button(title, model)
  info-field #[strong #{title}]
    br
    each val in ["yes", "maybe", "no"]
      input(type="radio" name="#{model}" value="#{val}" v-model="contact.#{model}")
      i.choice #{val}

contacts-new
  details-infos
    a.back(href="{{url}}" v-on="click: back($event)")
      i.fa.fa-fw.fa-arrow-left
    form
      +field-modif("Prenom", "firstname")
      +field-modif("Nom de famille", "surname")
      +field-modif("Email", "mail")
      +field-modif("Télephone", "phone")
      info-field #[strong adresse :]
        br
        input.nbr(v-model="contact.address.housenumber" type="text" placeholder="9")
        input.street(v-model="contact.address.street" type="text" placeholder="Rue de Condé")
        input.code(v-model="contact.address.postalcode" type="text" placeholder="33000")
        input.city(v-model="contact.address.city" type="text" placeholder="Bordeaux")
      +button("Va voter", "vote")
      +button("Me soutient", "support")
      br
      button(v-on="click: submit(contact, $event)") Ok
      button.second(v-on="click: back($event)") Return